@font-face {
  font-family: "Kimberley";
  src: url("/fonts/kimbalt_.ttf");
}

@font-face {
  font-family: ModeSeven;
  src: url("/fonts/Modeseven-L3n5.ttf");
}

:root {
  --default-green: #1fc742;
  --dark-green: #025b18;
  --default-grey: #023612;
  --dark-grey: #010101;
}

body {
  background-color: var(--dark-grey);
  color: var(--default-green);
}

a {
  color: var(--default-green);
}


.App {
  text-align: center;
}

.header-bar {
  border: 1px solid var(--default-grey);
  font-size: 4rem;
  font-family: "Kimberley";
  padding: 2rem;
  text-align: center;
}


.article-container {
  border: 1px solid var(--default-grey);
}

.article-title {
  border: 1px solid var(--dark-green);
  margin-bottom: 15px;
  padding: 0.5rem;
  font-family: ModeSeven;
  font-size: 2rem;
}

.article-main {
  border: 1px solid var(--default-grey);
  margin: 25px;
  padding: 0.5rem;
  font-family: ModeSeven;
  font-size: 1.5rem;
}

.articles-button {
  border: 0.2rem solid var(--dark-green);
  background-color: var(--dark-grey);
  color: var(--default-green);
  margin-bottom: 15px;
  padding: 0.5rem;
  font-family: ModeSeven;
  font-size: 2.5rem;
}

.articles-button:active {
  background-color: var(--default-grey);
}

.article-link {
  margin-top: 1rem;
  font-size: 1.75rem;
}

.loading-container {
  display: flex;
}

.loading-box {
  background-color: #571b1b;
  border: solid 2px var(--default-grey);
  width: 10%;
  height: 3rem;
  animation: changeLoadingBG 0.1s forwards;
}

.loading-box:nth-child(1) {
  animation-delay: 0.1s
}

.loading-box:nth-child(2) {
  animation-delay: 0.2s
}

.loading-box:nth-child(3) {
  animation-delay: 0.3s
}

.loading-box:nth-child(4) {
  animation-delay: 0.4s
}

.loading-box:nth-child(5) {
  animation-delay: 0.5s
}

.loading-box:nth-child(6) {
  animation-delay: 0.6s
}

.loading-box:nth-child(7) {
  animation-delay: 0.7s
}

.loading-box:nth-child(8) {
  animation-delay: 0.8s
}

.loading-box:nth-child(9) {
  animation-delay: 0.9s
}

.loading-box:nth-child(10) {
  animation-delay: 1s
}

@keyframes changeLoadingBG {
  to {
    background-color: var(--default-green);
  }
}